body{   margin: 0px;
        width: 100vw;
        height: 100vh;
        font-size: xx-large;
        font: bold;
        
        }



header  {
        display: flex;
        text-align: center;
        }

.leftheader     {background-image: linear-gradient(to bottom, white,black);
                width: 20%;
                padding: 2vmax;
                }

.midheader     {background-image: linear-gradient(to bottom, white,rgba(0, 0, 0, 0.877));
                width: 60%;
                padding: 2vmax;
                }
.rightheader     {background-image: linear-gradient(to bottom, white,rgb(0, 0, 0));
                width: 20%;
                padding: 2vmax;
                }

section {
        display: flex;
        text-align: center;
        height: 29.4vmax;
        
        }
                
.leftsection    {background-image: linear-gradient(to bottom, white,rgb(14, 0, 0));
                width: 20%;
                padding: 2vmax;
                }
                
.midsection     {background-image: linear-gradient(to bottom, white,rgba(14, 0, 0, 0.897));
                width: 60%;
                padding: 2vmax;
                }
.rightsection   {background-image: linear-gradient(to bottom, white,rgb(14, 0, 0));
                width: 20%;
                padding: 2vmax;
                }

footer         {
                display: flex;
                text-align: center;
                margin-bottom: 0;
                }
                                
.leftfooter    {background-image: linear-gradient(to bottom, rgb(82, 46, 46),black);
                width: 20%;
                padding: 2vmax;
                }
                                
.midfooter     {background-image: linear-gradient(to bottom, rgb(82, 46, 46),rgba(0, 0, 0, 0.849));
                width: 60%;
                padding: 2vmax;
                  }
.rightfooter   {background-image: linear-gradient(to bottom, rgb(82, 46, 46),rgb(0, 0, 0));
                width: 20%;
                padding: 2vmax;
                }